
@{
    ViewBag.Title = "Contato";
}

<body>
    <div id="div-contato">
        <div class="text-center">
            <h1 class="display-4">
                <strong>
                    Nossa História
                </strong>
            </h1>
        </div>

        <div style="padding: 0 10px 10px 10px; text-align: left; padding-top: 5%;">
            <h3 style="color:midnightblue">
                Começamos no ramo pet no ano de 2007, com distribuição de uma grande variedade de produtos nacionais. </br>
                Em 2012 começamos a importar do exterior, máquinas de tosa, acessórios e brinquedos. </br>
                Em 2021 abrimos uma fábrica, onde produzimos uma vasta variedade de itens, que estão presentes no nosso catálogo. </br>
                Vendemos e entregamos para todo o Brasil, tanto para lojistas como para distribuidores. Nossa meta em 2023 é conseguirmos
                produzir para redes de super mercados, pois no momento conseguimos atender somente pequenas quantidades.
            </h3>
        </div>

        <div style="padding-top: 5%">

        </div>
    </div>
</body>


