body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#menu-h {
    background-color: rgb(37, 37, 39);
    margin-top: -50px;
}


#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: rgb(37, 37, 39);
    text-align: center;
    margin: 0;
}

#menu-h ul li{
    display: inline;
    padding: 10px;
}

#menu-h ul a{
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233)
}

#menu-h ul li a:last-child a{
    float: right;
    background-color: rgb(24, 139, 233);
}

#whatsapp a{
    position: fixed;
    bottom: 65px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
}

#whatsapp icon:hover {
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 2px #5fe690;
}

.catalogo-filtro {
    padding-top: 10px;
}

#cadastro-div {
    display: flex;
    justify-content: space-between;
}

.cadastro-label {
    font-size: 3rem;
    padding-top: 1rem;
    max-width: 300px;
    width: 300px;

}

#div-principal {
    display: flex;
}

.div-imagens {
    display: flex;
    margin: 2rem 0 15% 14%;
    padding-left: -20px;
}

.index-imagens {
    margin: 0 2rem;
}

.index-div-pai {
    margin: -10px 0 0 0;
    background-image: linear-gradient(#B5DBE3,#6CB8CD);
    max-height: 100%;
    height: 100%;
}

footer {
   background-color: rgb(37, 37, 39);
    padding: 4rem 0;
    margin: 0 0 -20px 0;
    color: white;
    display: flex;
}

.footer-div {
    display: flex;
    margin: 0 0 0 22%;
}

#footer-instagram-label {
    margin: 0 10% 0 0;
}

#texto {
    color: #000;
}

#texto-button {
    color: #000;
    margin: 10% 0 0 0;
}

#div-bem-vindo{
}

#div-bem-vindo h1 {
    font-size: 100px;
}

#div-bem-vindo p {
    font-size: 30px;
}

#div-painel {
    visibility:hidden;
}

#div-painel div{
    visibility: visible;
}